.button {
    width: 95px;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 25%;
    background-color: #fff; /* Adjust background color as needed */
    box-shadow: 0 4px 8px rgba(15, 38, 76, 0.2);
}